@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

.font-montserrat {
  font-family: 'Montserrat', sans-serif;
}

.font-roboto {
  font-family: 'Roboto', sans-serif;
}


html {
  font-family: var(--font-montserrat);
}
 
h1,h2,h3,h4,h5,span {
  font-family: var(--font-roboto);
}

p {
  font-family: var(--font-montserrat);
}

.parallax {
  background-attachment: fixed;
  background-position: top left; 
  background-repeat: no-repeat;
  background-size: cover;
}

.text-darkGray {
  color: rgba(35, 35, 35, 1); /* #232323  */

}


.text-lightGray {
  color: rgba(111, 111, 111); /* #6f6f6f  */
}

.text-hoverRed {
  color: rgba(255, 33, 79); /* #ff214f  */
}