@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

.font-montserrat {
  font-family: 'Montserrat', sans-serif;
}

html {
  font-family: var(--font-montserrat);
}
 
h1,h2,h3,h4,h5,span {
  font-family: var(--font-roboto);
}

p {
  font-family: var(--font-montserrat);
}
